@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

#call-2021  {
    padding: 0px;
    min-height: 600px;
    height: 1000px;
    .grid-row-3 {
        display: grid;
        grid-template-rows: 15% 70% 15%;
        width: 100%;
        height: 100%;
        // @include breakpoint-4 {
        // }
        .pattern-decoration {
            background-attachment: fixed;
            height: 100%;
            width: 100%;
        }
        .call-content {
            background-color: $black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 50px 0;
            .headline {
                margin: auto;
                text-align: center;
                margin: 30px;
                h2 {
                    color: $white;
                    text-transform: uppercase;
                    font-family: $title-font;
                    // font-size: $title-s;
                    padding: 0;
                    @include breakpoint-4 {
                        font-size: $title-m;
                    }
                }
            }
            .text-call-container {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                @include breakpoint-4 {
                    padding: 50px 150px;
                }
                // width: 100%;
                .text-call {
                    text-align: center;
                    color: $yellow;
                    font-family: $main-font;
                    font-size: $s;
                    margin: 15px 30px;
                    @include breakpoint-3 {
                        font-size: $main;
                    }
                }
            }
            .PDF-downloader {
                align-items: center;
                background-color: transparent;
                border: solid 1px $white;
                border-radius: 5px;
                color: $white;
                font-family: $title-font;
                font-size: $button;
                font-weight: 700;
                letter-spacing: 1.4;
                text-transform: uppercase;
                display: flex;
                height: 55px;
                padding: 7px;
                justify-content: center;
                min-width: 200px;
                max-width: max-content;
                cursor: pointer;
                &:hover {
                    color: $yellow;
                    border: solid 1px $yellow;
                    cursor: pointer;
                    transition: all ease-in-out .5s;
                }  
            }
        }
    }
}