@import 'styles/mixins.scss';
@import 'styles/variables.scss';


#main-navegator {
    align-items: center;
    padding: 0 20px;
    display: inline-flex;
    justify-content: right;
    width: 100%;
    @include breakpoint-4 {
        display: flex;
        flex-direction: row;
    }
}