@import "styles/variables.scss";
@import "styles/mixins.scss";

.teacher-card {
    display: flex;
    position: relative;     
    .card-img {
        width: 100%;
        height: 100%;
        img {
            max-width: 100%;
        }
        .info-teacher-spread-out {
            position: absolute; 
            &.hide { 
                display: none;
                opacity: 0;
                height: 0; 
                transform: translateY(-50px);
                transition: all ease-in 1s; 
            }
            &.shown {
                top: 0%;
                display: flex;
                flex-direction: column;
                background-color: transparentize($black, .1);
                padding: 10px 5px;
                opacity: 1;
                bottom: 0%;
                align-items: center;
                justify-content: center;
                transform: translateY(0px);
                transition: all ease-in 1s; 
                width: 100%;
            }
            .title-spread-out {
                color: $yellow;
                font-family: $title-font;
                font-size: $s;
                font-weight: bolder;
                margin: 17px auto;
            }
            .text-spread-out {
                color: $white;
                font-family: $main-font;
                font-size: 12px;
                margin: auto;
                padding: 15px;
                @include breakpoint-3 {
                    font-size: 13px;
                }
                @include breakpoint-3 {
                    font-size: 15px;
                }
            }
        }
    }
}