// COLOR

$yellow: #FACC33;
$white: #FFFFFF;

//FONTS & SIZES

$title-font: 'Ubuntu', sans-serif;
$font-1: 'Poppins', sans-serif;
$font-2: 'Comfortaa', cursive;


$xxs: 9px;
$xs: 15px;
$s: 19px;
$r: 20px;
$main: 25px;
$title-s: 28px;
$title-m: 35px;
$title: 45px;
$title-l: 53px;
$xl: 105px;
$xxl: 163px;
$button: 19px;

//HEIGHTS & WIDTHS

$height-header: 85px;

$height-hero-1: 812px;
// $height-hero-2: 1280px;
// $height-hero-3: 2400px;
// $height-hero-4: 3000px;