// COLOR

$black: #1E1E1C;
$yellow: #FACC33;
$white: #FFFFFF;
$ligth-gray: #B2B2B2;

//FONTS & SIZES

$title-font: 'Ubuntu', sans-serif;
$main-font: 'Open Sans', sans-serif;

$xxs: 9px;
$xs: 15px;
$s: 19px;
$r: 20px;
$main: 25px;
$title-s: 28px;
$title-m: 35px;
$title: 45px;
$title-l: 50px;
$xl: 105px;
$xxl: 163px;
$button: 19px;

//HEIGHTS & WIDTHS

$height-header: 85px;

$height-hero-1: 812px;
// $height-hero-2: 1280px;
// $height-hero-3: 2400px;
// $height-hero-4: 3000px;