@import "styles/variables.scss";
@import "styles/mixins.scss";

.main-container-page {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    .pattern {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .bg-black {
        background-color: $black;
        padding: 10px;
        width: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        filter: opacity(80%);
        position: relative;
        z-index: 2;
        @include breakpoint-4 {
            padding: 100px;
        }
        .title-section {
            color: $white;
            position: relative;
            z-index: 4;
            padding: 10px;
            display: block;
            background-color: $black;
            text-align: center;
            text-transform: uppercase;
            font-family: $title-font;
            font-weight: 700;
            letter-spacing: 4px;
            line-height: 1.2;
            padding: 35px;
            @include breakpoint-4 {
                font-size: $title;
            }
            .title-line {
                background-color: $yellow;
                display: block;
                height: 6px;
                margin: 10px auto;
                width: 70px;
            }
        }  
        .content-section {
            position: relative;
            z-index: 4;
            padding-bottom: 30px;
            display: block;
            width: inherit;
            height: inherit;
            // a {
            //     color: $white;
            //     &:hover {
            //         color: gray;
            //     }
            // }
            .text {
                color: $white;
                font-family: $main-font;
                font-size: $title-s;
                text-align: center;
            }
        }
    }
}