@import 'styles/mixins.scss';
@import 'styles/variables.scss';

#hero {
    align-items: center;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-top: 85px;
    height: auto;
        a {
            width: 100%;
            #img-hero {
                align-items: center;
                background-attachment: fixed;
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: auto;
                box-sizing: content-box;
                display: flex;
                flex-direction: column;
                height: 630px;
                justify-content: space-between;
                width: 100%;
                @include breakpoint-3 {
                    background-position: center;
                }
                @include breakpoint-4 {
                    background-attachment: fixed;
                    background-size: contain;
                }
            }
        }
    .text-container {
        padding: 30px;
        display: flex;
        color: $yellow;
        font-size: $title;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
        height: 630px;
        margin-top: 50px;
        @include breakpoint-4 {
            height: 721px;
        }
    }
}