@import 'styles/mixins.scss';
@import 'styles/variables.scss';

#hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    @include breakpoint-3 {
        flex-direction: row;
    }
    .text-hero-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        align-items: center;
        margin: auto 0;
        @include breakpoint-3 {
            align-items: flex-end;
            width: 50%;
        }
        .text-hero {
            color: $white;
            font-family: $title-font;
            font-size: $title-s;
            &.upper {
                color: $yellow;
                text-transform: uppercase;
            }
            @include breakpoint-3 {
                font-size: $title-m;
            }
        }
    }
    .img-hero-container {
        display: block;
        width: 100%;
        padding: 30px;
        height: 300px;
        @include breakpoint-3 {
            width: 50%;
            height: 100vh;
        }
        #img-hero {
            background-size: contain;
            background-position-x: center;
            background-position-y: center;
            background-repeat: no-repeat;
            margin: auto;
            width: 100%;
            height: 100%;
            z-index: -1;
            max-width: 737px;
        }
    }
}