@import 'styles/mixins.scss';
@import 'styles/variables.scss';

#contact {
    margin-top: 85px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    .section-title {
        padding: 30px;
        padding-top: 100px;
        font-size: $l;
        text-transform: uppercase;
        color: $yellow;
    }
    .section-text {
        color: $yellow;
        font-family: $title-font;
        font-size: $r;    
        font-weight: bolder;
        margin: auto;
        text-shadow: rgba(3, 3, 3, 0.719) 0 0 5px;
        padding: 30px;
        a {
            color: $white;
            &:hover {
                color: violet;
            }
        }
    }
}