@import 'styles/mixins.scss';
@import 'styles/variables.scss';

#contacto {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    .subtitle {
        padding: 30px;
        font-size: $title-l;
        text-transform: uppercase;
        color: $yellow;
        text-align: center;
    }
    .section-text {
        color: $white;
        font-family: $main-font;
        font-size: $r;    
        font-weight: bolder;
        margin: auto;
        text-shadow: rgba(3, 3, 3, 0.719) 0 0 5px;
        max-width: 649px;
        a {
            color: $yellow;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}