@import 'styles/mixins.scss';
@import 'styles/variables.scss';

#main-header {
    align-items: center;
	background-color: $black;
	display: flex;
    justify-content: space-between;
    height: 85px;
    position: fixed;
    top: 0;
    bottom: 85px;
	width: 100%;
	z-index: 99999;
	overflow: hidden;
    @include breakpoint-1 {
		padding: 0 20px;
	}
	@include breakpoint-2 {
		padding: 0 30px;
	}
	@include breakpoint-3 {
		padding: 0 50px;
	}
	@include breakpoint-4 {
		padding: 0 55px;
	}
	@include breakpoint-5 {
		padding: 0 70px;
	}
	@include breakpoint-7 {
		padding: 0 90px;
	}
}