@import '../../../../../../styles/mixins.scss';
@import '../../../../../../styles/variables.scss';

h3 {
    color: $white;
    position: relative;
    z-index: 4;
    padding: 10px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: $title-font;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 1.2;
    padding: 35px;
    @include breakpoint-4 {
        font-size: $title;
    }
}
.grid-videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include breakpoint-3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}