@import "../../../../../../styles/variables.scss";
@import "../../../../../../styles/mixins.scss";

.slider {
    width: 70vw;
    padding: 0 0 50px 0;
    height: min-content;
    z-index: 5;
    display: contents;
    .position-slider {
        display: flex;
        justify-content: center;
        align-items: center;
        .slider-container {
            margin: 0 30px;
            height: auto;
            .teachers-list {
                width: 100%;
                height: inherit;
                display: flex;
                flex-direction: row;
                grid-gap: 30px;
                @include breakpoint-4 {
                    grid-gap: 50px;
                }
                .teacher-item {
                    display: flex;
                    flex-flow: row wrap;
                    max-height: 100%;
                    max-width: 266px;
                    @include breakpoint-4 {
                        max-width: 300px;
                    }
                }
            }
        }
        .button-slider, 
        .button-slider:hover, 
        .button-slider:visited {
            color: $white;
            width: 40px;
            height: 40px;
            cursor: pointer;
            opacity: 1;
            z-index: 999;
        }
        .right {
            padding-left: 10px;
        }
        .left {
            padding-right: 10px;
        }
    }
}