@import 'styles/mixins.scss';
@import 'styles/variables.scss';

#podcasts {
    .text {
        position: relative;
        background-color: $black;
        color: $white;
        padding: 10px;
        font-family: $main-font;
        font-size: $xs;    
        font-weight: bolder;
        text-transform: uppercase;
        text-shadow: rgba(3, 3, 3, 0.719) 0 0 5px;
        @include breakpoint-4 {
            padding: 150px;
        }
    }
    .grid-podcast {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        .card-podcast {
            cursor: pointer;
        }
    }
}

.ReactModal__Html--open,
.ReactModal__Body--open {
  overflow: hidden; /* prevents background page from scrolling when the modal is open */
}

.ReactModal__Overlay {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

}

.ReactModal__Content {
    padding: 30px;
    background: $black;
    width: 50rem;
    max-width: 100%;
    max-height: calc(100vh - 2rem);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    position: relative;
}

.modal-close-btn {
  cursor: pointer;
  color: $white;
  top: 1.5rem;
  right: 1.5rem;
  position: absolute;
  width: 3rem;
  height: 3rem;
}
header {
    padding: 20px 0;
    .modal-title {
        color: $white;
        font-weight: bolder;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    .modal-subtitle {
        color: $yellow;
        color: $ligth-gray;
    }
}
.modal-main-text {
    color: $white;
}

.modal-extra-text {
    color: $ligth-gray;
    margin: 0;
}

.season-title {
    color: $white;
    font-weight: bold;

}

.episode-title {
    color: $white;
    font-size: $xs;
    &:hover {
        color: $yellow;
        transition: all ease-out  0.5s;
    }
}

.links-list {
    display: flex;
    flex-direction: row;
    li {
        padding: 0 10px;
        @include breakpoint-3 {
            padding: 0 30px;
        }
        a {
            color: $ligth-gray;
            &:hover {
                color: $yellow;
                transition: all ease-out  0.5s;
            }
        }
    }
}