@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

#podcasts {
    .text {
        position: relative;
        background-color: $black;
        color: $white;
        padding: 10px;
        font-family: $main-font;
        font-size: $xs;    
        font-weight: bolder;
        text-transform: uppercase;
        text-shadow: rgba(3, 3, 3, 0.719) 0 0 5px;
        @include breakpoint-4 {
            padding: 150px;
        }
    }
    .grid-podcast {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include breakpoint-3 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
        }
    }
}