@import '../../../../../../styles/mixins.scss';
@import '../../../../../../styles/variables.scss';

.workshops-container {
    height: auto;
    h3 {
        color: $white;
        position: relative;
        z-index: 4;
        padding: 10px;
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-family: $title-font;
        font-weight: 500;
        font-size: $s;
        letter-spacing: 4px;
        line-height: 1.2;
        padding: 35px;
    }
    .workshops-list {
        margin-bottom: 50px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        @include breakpoint-3 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: repeat (3, auto);
            grid-gap: 30px;
            height: auto;
        }
        @include breakpoint-4 {
            grid-auto-rows: 430px;
        }
        .workshop-item {
            display: block;
            margin: auto;
        }
    }
}