@import '../../../../../../styles/mixins.scss';
@import '../../../../../../styles/variables.scss';

.workshops-container {
    height: auto;
    h3 {
        color: $white;
        position: relative;
        z-index: 4;
        padding: 10px;
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-family: $title-font;
        font-weight: 500;
        font-size: $s;
        letter-spacing: 4px;
        line-height: 1.2;
        padding: 35px;
    }
    .workshops-list {
        margin-bottom: 50px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        height: auto;
        @include breakpoint-3 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 350px);
            grid-gap: 30px;
        }
        @include breakpoint-4 {
            grid-template-rows: repeat(3, 450px);
        }
        .workshop-item {
            display: block;
            margin: auto;
            height: 300px;
            width: 300px;
            @include breakpoint-3 {
                width: fit-content;
                height: fit-content;
                &:last-child {
                    position: absolute;
                    left: 30%;
                    bottom: 0%;
                }
            }
        }
    }
}