@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

.logo-container {
    display: block;
    margin: auto;
    height: inherit;
    .logo-link {
        width: 30%;
        display: block;
        #logoBabel {
            max-height: 100%;
        }
    }
}