@import "styles/variables.scss";
@import "styles/mixins.scss";

#lab-2021 {
    .main-container-page {
        .content-section {
            background-color: $black;
            position: relative;
            z-index: 4;
            display: flex;
            flex-direction: column;
            .subtitle-section {
                color: $white;
                position: relative;
                z-index: 4;
                padding: 10px;
                display: block;
                background-color: $black;
                text-align: center;
                text-transform: uppercase;
                font-family: $title-font;
                font-weight: 400;
                font-size: $main;
                letter-spacing: 3px;
                line-height: 1.2;
                padding: 10px;
            }
            .grid-timer {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 30px;
                @include breakpoint-2 {
                    grid-gap: 50px;
                }
                .unit-time {
                    @include breakpoint-3 {
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                    }
                    .countdown-timer {
                        color: $yellow;
                        font-family: $title-font;
                        text-align: center;
                        padding: 0;
                        width: inherit;
                        @include breakpoint-1 {
                            font-size: $title-l;
                            font-weight: bolder;
                        }
                        @include breakpoint-3 {
                            font-size: $xl;
                        }
                        @include breakpoint-4 {
                            font-size: $xxl;
                        }
                    }
                    .tag-time {
                        color: $white;
                        font-family: $main-font;
                        font-weight: bolder;
                    }
                }
            }
            .teachers-info {
                padding: 30px 0;
                display: block;
            }
            .timeline {
                margin: auto;
                position: relative;
                width: 100%;
                background-color: $black;
                z-index: 99;
                padding-bottom: 69px;
                @include breakpoint-2 {
                    padding: 0;
                }
                img {
                    width: 100%;
                }

                .for-more-info {
                    align-items: center;
                    bottom: -7%;
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    width: 100%;
                    @include breakpoint-2 {
                        bottom: -1%;
                    }
                    @include breakpoint-3 {
                        bottom: 5%;
                    }
                    p {
                        padding-bottom: 10px;
                    }
                    .PDF-downloader {
                        align-items: center;
                        background-color: transparent;
                        border: solid 1px $white;
                        border-radius: 5px;
                        color: $white;
                        font-family: $title-font;
                        font-size: $button;
                        font-weight: 700;
                        letter-spacing: 1.4;
                        text-transform: uppercase;
                        display: flex;
                        height: 55px;
                        padding: 7px;
                        justify-content: center;
                        min-width: 200px;
                        max-width: max-content;
                        cursor: pointer;
                        &:hover {
                            color: $yellow;
                            border: solid 1px $yellow;
                            cursor: pointer;
                            transition: all ease-in-out .5s;
                        }  
                    }
                }
            }
        }
    }
}