@import "styles/variables.scss";
@import "styles/mixins.scss";

#lab-2021 {
    .main-container-page {
        .content-section {
            position: relative;
            z-index: 4;
            display: flex;
            flex-direction: column;
            .countdown-timer {
                color: $yellow;
                font-family: $title-font;
                text-align: center;
                padding: 50px 0;
                width: inherit;
                @include breakpoint-1 {
                    font-size: $title-l;
                    font-weight: bolder;
                }
                @include breakpoint-3 {
                    font-size: $xl;
                }
                @include breakpoint-4 {
                    font-size: $xxl;
                }
            }
        }
    }
}